<h2>Movies</h2>

{{#each movies}}
    <div>
        <h4>Title: {{this.title}}</h4>
        <h4>Genre: {{this.genre}}</h4>
        <h4>Plot: {{this.plot}}</h4>
        {{#each this.cast}}
             <h4>my cast: {{this}}</h4>
        {{/each}}
       
       
    </div>
{{/each}}
<p></p>
<a href="/movies/new">Create new movie!</a>